{% block doctype %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale ? app.request.locale : app.request.defaultLocale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_tags %}
            {% include '@CoobixAdmin/metronic/Admin/_partials/_head_tags.html.twig' %}
        {% endblock head_tags %}

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>

            <link rel="stylesheet" href="{{ asset('bundles/coobixadmin/app_metronic.css') }}"/>
        {% endblock stylesheets %}

        {% block javascripts %}

            <script src="{{ asset('bundles/coobixadmin/app_metronic.js') }}" defer></script>

        {% endblock javascripts %}
    </head>
    {% block body %}
        <body class="{% block body_class %}{% endblock body_class %}"
                {% block body_attributes %}
                    data-turbo="false"
                {% endblock body_attributes %}
                {{ stimulus_controller('app', {
                    'appLanguage': app.request.locale ? app.request.locale : app.request.defaultLocale
                }) }}
        >
        {% block body_content %}{% endblock body_content %}
        </body>
    {% endblock body %}
    </html>
{% endblock doctype %}