{% extends "@CoobixAdmin/metronic/Admin/base.html.twig" %}

{% from '@CoobixAdmin/metronic/Admin/_macros/toast.html.twig' import printToast %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/coobixadmin/dashboard_metronic.css') }}" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/coobixadmin/dashboard_metronic.js') }}" defer></script>
{% endblock %}

{% block body_content %}
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            {% block sidebar %}
                {% include '@CoobixAdmin/metronic/Admin/sidebar.html.twig' %}
            {% endblock sidebar %}

            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                {% block header %}
                    <!--begin::Header-->
                    <div id="kt_header" class="header">
                        <!--begin::Container-->
                        <div class="container-fluid d-flex align-items-center flex-wrap justify-content-between"
                             id="kt_header_container">
                            <!--begin::Page title-->
                            <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-2 pb-5 pb-lg-0 pt-7 pt-lg-0"
                                 data-kt-swapper="true" data-kt-swapper-mode="prepend"
                                 data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
                                <!--begin::Heading-->
                                <h2 class="d-flex flex-column text-dark fw-bolder my-0 fs-1">{% block header_title %}{{ 'messages.dashboard'|trans({}, 'CoobixAdminBundle') }}{% endblock header_title %}
                                    <small class="text-muted fs-6 fw-bold ms-1 pt-1">{% block header_subtitle %}{% endblock header_subtitle %}</small>
                                </h2>
                                <!--end::Heading-->
                            </div>
                            <!--end::Page title=-->
                            <div class="d-flex d-lg-none justify-content-between ms-n3 me-2 w-100">

                                <!--begin::Logo-->
                                <a href="{{ path('admin') }}" class="d-flex align-items-center">
                                    <img alt="Logo"
                                            {% if admin_logo is defined %}
                                                src="{{ asset(admin_logo) }}"
                                            {% else %}
                                                src="{{ asset('bundles/coobixadmin/images/logo-admin.png') }}"
                                            {% endif %}
                                         class="h-30px "/>
                                </a>
                                <!--end::Logo-->
                                <!--begin::Aside mobile toggle-->
                                <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
                                    <span class="svg-icon svg-icon-1 mt-1">
                                        {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_hamburger.html.twig') }}
									</span>
                                </div>
                                <!--end::Aside mobile toggle-->

                            </div>
                            <!--begin::Topbar-->
                            <div class="d-flex align-items-center flex-shrink-0 d-none d-lg-flex">
                                <!--begin::Search-->
                                <div class="me-5">
                                    {{ include('@CoobixAdmin/metronic/Admin/_partials/_menu_configurations.html.twig', {class: ''}) }}
                                </div>
                                <!--begin::logout Link-->
                                <span style="width: 55px; margin-left: 15px">
                                {{ include('@CoobixAdmin/metronic/Admin/_partials/_logout_menu_item.html.twig') }}
                                </span>
                                <!--end::logout Link-->
                            </div>
                            <!--end::Topbar-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Header-->
                {% endblock header %}
                {% block main_column %}
                    <!--begin::Toasts-->
                    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                        <!--begin::Toast-Container-->
                        <div class="toast-container position-fixed top-0 end-0 p-3 " style="z-index:9999">
                            <!--begin::Toast-->
                            {{ printToast( 'messages.software_name'|trans({}, 'CoobixAdminBundle') , '', '', true) }}
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    {{ printToast( 'messages.software_name'|trans({}, 'CoobixAdminBundle') ,  message , label) }}
                                {% endfor %}
                            {% endfor %}
                            <!--end::Toast-->
                        </div>
                        <!--end::Toast-Container-->

                        <!--begin::Container-->
                        <div class="container-fluid" id="kt_content_container">
                            {% block main_content %}

                            {% endblock main_content %}
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Toasts-->
                {% endblock main_column %}
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <span class="svg-icon">
		    {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_logout.html.twig') }}
        </span>
    </div>
    <!--end::Scrolltop-->
    <!--end::Main-->

{% endblock body_content %}
