
{# TODO SACAR ESTA PARTE DEL IF #}
{% if deleteForm is defined %}
    {{ form_start(deleteForm, {'attr': {'class': '',
        'data-controller':"submit-confirm",
        'data-action':"submit-confirm#showConfirm"
    }}) }}

    {{ form_errors(deleteForm) }}
    <button type="submit" id="{{ deleteForm.vars.id }}_submit"
            class="btn btn-light-danger me-5"
            data-submit-confirm-target="submitButton"
    >
        <span class="svg-icon svg-icon-2">
            {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_delete.html.twig') }}
        </span>
        {{ 'messages.delete'|trans({}, 'CoobixAdminBundle') }}
    </button>
    {{ form_end(deleteForm) }}
{% else %}
    <form action="{{ url('admin_delete', {'class': class }) }}" method="post"
            {{ stimulus_controller('submit-confirm') }}
            {{ stimulus_action('submit-confirm', 'showConfirm') }}
    >
        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
        <input type="hidden" name="id" value="{{ id }}"/>

        <button type="submit" id="form_{{ id }}_submit"
                class="btn btn-light-danger me-5"
                {{ stimulus_controller('spinner') }}
                {{ stimulus_action('spinner', 'spin') }}
        >
        <span class="svg-icon svg-icon-2">
            {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_delete.html.twig') }}
        </span>
            {{ 'messages.delete'|trans({}, 'CoobixAdminBundle') }}
        </button>
    </form>
{% endif %}
