{% extends "@CoobixAdmin/metronic/Admin/dashboard_layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/coobixadmin/edit_metronic.css') }}" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block header_title %}
    <strong>{% if admin.getEditTitle() is empty %}
            {{ 'messages.edit'|trans({}, 'CoobixAdminBundle') }}
        {% else %}
            {{ admin.getEditTitle() }}
        {% endif %}
    </strong>
{% endblock header_title %}

{% block main_content %}
    <!--begin::Card-->
    <div class="card">

        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    {# TODO: Este div solo esta para hacer espacio #}
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->

            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                {% block page_header_btns %}
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-subscription-table-toolbar="base">
                        <!--begin::Delete Button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_LIST') in admin.allowedActions %}
                            {% include '@CoobixAdmin/metronic/Admin/delete_form.html.twig' with {'class':  admin.getRouteName(), 'id': entity.id } %}
                        {% endif %}
                        <!--end::Delete Button-->

                        <!--begin::List Button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_LIST') in admin.allowedActions %}
                            {% set routeParams = { 'class': admin.getRouteName()|lower } %}
                            <a href="{{ path('admin_list', routeParams) }}" class="btn btn-light-primary me-5">
                            <span class="svg-icon svg-icon-2">
                                {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_list.html.twig') }}
                            </span> {{ 'messages.go_to_list'|trans({}, 'CoobixAdminBundle') }}</a>
                        {% endif %}
                        <!--end::List Button-->

                        <!--begin::Show Button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_SHOW') in admin.allowedActions %}
                            <a href="{{ path('admin_show', {'class':  admin.getRouteName(), 'id': entity.id }) }}"
                               class="btn btn-light-primary">
                            <span class="svg-icon svg-icon-2">
                                <i class="material-icons fs-5"
                                   style="">visibility</i>
                            </span> {{ 'messages.view'|trans({}, 'CoobixAdminBundle') }}</a>
                        {% endif %}
                        <!--end::Show Button-->

                    </div>
                    <!--end::Toolbar-->
                {% endblock page_header_btns %}
            </div>
            <!--end::Card toolbar-->
        </div>
        {% if form %}
            <div class="card-body pt-0">
            {% block form %}
                {% include '@CoobixAdmin/metronic/Admin/_partials/_edit_form.html.twig'
                    with {'form':form, 'frame_id':  '' }
                %}
            {% endblock form %}
            </div>
        {% endif %}
    </div>
{% endblock main_content %}