
<div class="d-flex justify-content-end align-items-center d-none"
     data-kt-subscription-table-toolbar="selected"
     data-testid="deleteSelectedContainer"
>
    <div class="fw-bolder me-5">
        <span class="me-2" data-kt-subscription-table-select="selected_count"></span>{{ 'messages.selected'|trans({}, 'CoobixAdminBundle') }}
    </div>
    <form role="form" id="listBulkForm"
          action="{% block list_bulk_actions_form_url %}{{ formUrl }}{% endblock list_bulk_actions_form_url %}"
          method="post"
            {{ stimulus_controller('submit-confirm') }}
            {{ stimulus_action('submit-confirm', 'showConfirm') }}
    >
        <input type="hidden" name="action" id="action" value="delete">
        <input type="hidden" name="bulkIds" id="bulkIds" value="0"
                {{ stimulus_target('list', 'listBulkIdsSelectedInput') }}
        >

        <button type="submit" class="btn btn-danger btn-with-spinner"
                data-kt-subscription-table-select="delete_selected"
                {{ stimulus_controller('spinner') }}
                {{ stimulus_action('spinner', 'spin') }}
        >
            {{ 'messages.delete_selected'|trans({}, 'CoobixAdminBundle') }}
        </button>
    </form>
</div>