{% extends "@CoobixAdmin/metronic/Admin/dashboard_layout.html.twig" %}


{% set routeParams = { 'class': admin.getRouteName()|lower } %}

{% if listUrl is not defined %}
    {% set listUrl = path('admin_list', routeParams) %}
{% endif %}

{% block header_title %}
    <strong>{% if admin.getListTitle() is empty %}
            {{ 'messages.list'|trans({}, 'CoobixAdminBundle') }}
        {% else %}
            {{ admin.getListTitle() }}
        {% endif %}
    </strong>
{% endblock header_title %}

{% block main_content %}

    <!--begin::List-container-->
    <div class="card"
            {{ stimulus_controller('list') }}
    >
        {% block panel_header %}
        <!--begin::List header-->
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">

                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->

            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                {% block page_header_btns %}
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-subscription-table-toolbar="base">
                        {% if (listSearchForm is not null) %}
                            <!--begin::Filter-->
                            <button type="button" class="btn btn-light-primary me-3" data-bs-toggle="collapse"
                                    data-bs-target="#advancedSearch_body_1" aria-expanded="true"
                                    aria-controls="advancedSearch_body_1">
                            <span class="svg-icon svg-icon-2">
							    {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_filter.html.twig') }}
							</span> {{ 'messages.filters'|trans({}, 'CoobixAdminBundle') }}
                            </button>
                            <!--end::Filter-->
                        {% endif %}
                        <!--begin::Add button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_CREATE') in admin.allowedActions %}
                            <a href="{{ path('admin_new', routeParams) }}" class="btn btn-primary">
                            <span class="svg-icon svg-icon-2">
                                {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_plus.html.twig') }}
                            </span> {{ 'messages.add'|trans({}, 'CoobixAdminBundle') }}
                            </a>
                        {% endif %}
                        <!--end::Add button-->
                    </div>
                    <!--end::Toolbar-->

                    <!--begin::Group actions-->
                    {% block list_bulk_actions_form %}
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_BULK_DELETE') in admin.allowedActions %}
                            {% include '@CoobixAdmin/metronic/Admin/list_bulk_actions_form.html.twig' with {'formUrl':  path('admin_bulk', routeParams)  } %}
                        {% endif %}
                    {% endblock list_bulk_actions_form %}
                    <!--end::Group actions-->

                {% endblock page_header_btns %}
            </div>
            <!--end::Card toolbar-->
        </div>
        {% endblock panel_header %}
        {% block list_search_form %}
            {% if (listSearchForm is not null) %}
            {% include '@CoobixAdmin/metronic/Admin/list_search_form.html.twig' %}
            {% endif %}
        {% endblock list_search_form %}
        <!--end::List header-->

        <!--begin::List body-->
        <div class="card-body pt-0">
            <div class="mb-10">
                <!--begin::Title-->
                <h5 class="mb-4">{% block panel_title %}{% endblock panel_title %}</h5>
                <!--end::Title-->
                <!--begin::Table-->
                <div class="table-responsive">
                    {% block list_table %}
                        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_subscriptions_table"
                                {{ stimulus_target('list', 'table') }}
                        >
                            <!--begin::Table head-->
                            <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                {% block list_table_th %}
                                    <th class="w-10px pe-2">
                                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_BULK_DELETE') in admin.allowedActions %}
                                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                <input class="form-check-input" type="checkbox" data-kt-check="true"
                                                       data-kt-check-target="#kt_subscriptions_table .form-check-input"
                                                        {{ stimulus_target('list', 'bulkCheckAll') }}
                                                        {{ stimulus_action('list', 'setBulkCheckAll') }}
                                                       value="0" data-testid="checkAll"/>
                                            </div>
                                        {% endif %}
                                    </th>
                                    {% block list_table_th_customs %}
                                        {% for column in admin.getListColumns() %}
                                            <th class="min-w-125px">
                                                {{ knp_pagination_sortable(pagination,  column['name'] , 'e.'~ column['property'] ) }}
                                            </th>
                                        {% endfor %}
                                    {% endblock list_table_th_customs %}
                                    <th class="text-end min-w-70px">{{ 'messages.actions'|trans({}, 'CoobixAdminBundle') }}</th>
                                {% endblock list_table_th %}
                            </tr>
                            <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody class="text-gray-600 fw-bold">
                            {% block list_table_tr %}
                                {% set numCols = admin.getListColumnsCount() %}
                                {% if pagination is not null %}
                                    {% set num = pagination.getPaginationData.numItemsPerPage * (pagination.currentPageNumber - 1) %}
                                {% else %}
                                    {% set num = 1 %}
                                {% endif %}
                                {% for e in pagination %}
                                    {% set num = num + 1 %}
                                    {% set routeParams = { 'id': e.getId(), 'class': admin.getRouteName() } %}
                                    {% set showUrl = path('admin_show', routeParams) %}
                                    <tr>
                                        <!--begin::Checkbox-->
                                        <td>
                                            {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_BULK_DELETE') in admin.allowedActions %}
                                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                    <input name="bulkCheck" class="form-check-input" type="checkbox"
                                                           value="{{ e.getId() }}"
                                                            {{ stimulus_target('list', 'bulkCheck') }}
                                                            {{ stimulus_action('list', 'onSingleListCheckBoxChange') }}
                                                    />
                                                </div>
                                            {% endif %}
                                        </td>
                                        <!--end::Checkbox-->

                                        {% for column in admin.getListColumns() %}
                                            <td>
                                                {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_SHOW') in admin.allowedActions %}
                                                    <a href="{{ showUrl }}"
                                                       class="text-gray-800 text-hover-primary mb-1">
                                                        {{ admin.getEntityPropertyValue(admin.getEntityFqcn(), e, column['property']) }}
                                                    </a>
                                                {% else %}
                                                    <span class="text-gray-800 mb-1">
                                                        {{ admin.getEntityPropertyValue(admin.getEntityFqcn(), e, column['property']) }}
                                                    </span>
                                                {% endif %}

                                            </td>
                                        {% endfor %}

                                        {% block list_item_actions %}
                                            <!--begin::Action=-->
                                            <td class="text-end">
                                                <a href="#" class="btn btn-light btn-active-light-primary btn-sm"
                                                   data-kt-menu-trigger="click"
                                                   data-kt-menu-placement="bottom-end">{{ 'messages.actions'|trans({}, 'CoobixAdminBundle') }}
                                                    <span class="svg-icon svg-icon-5 m-0">
                                            {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_plus.html.twig') }}
                                        </span>
                                                </a>
                                                <!--begin::Menu-->
                                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
                                                     data-kt-menu="true">
                                                    <!--begin::Menu item-->
                                                    {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_SHOW') in admin.allowedActions %}
                                                        <div class="menu-item px-3">
                                                            <a href="{{ showUrl }}"
                                                               class="menu-link px-3">{{ 'messages.view'|trans({}, 'CoobixAdminBundle') }}</a>
                                                        </div>
                                                    {% endif %}
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_UPDATE') in admin.allowedActions %}
                                                        <div class="menu-item px-3">
                                                            <a href="{{ path('admin_edit', routeParams) }}"
                                                               class="menu-link px-3">{{ 'messages.edit'|trans({}, 'CoobixAdminBundle') }}</a>
                                                        </div>
                                                    {% endif %}
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_DELETE') in admin.allowedActions %}
                                                        <div class="menu-item px-3">
                                                            {% include '@CoobixAdmin/metronic/Admin/list_delete_form.html.twig' with {'class': admin.getRouteName(), 'id': e.getId } %}
                                                        </div>
                                                    {% endif %}
                                                    <!--end::Menu item-->
                                                </div>
                                                <!--end::Menu-->
                                            </td>
                                            <!--end::Action=-->
                                        {% endblock list_item_actions %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        {% set colspanNum = numCols + 2 %}
                                        <td colspan="{{ colspanNum }}">{{ 'messages.no_results'|trans({}, 'CoobixAdminBundle') }}</td>
                                    </tr>
                                {% endfor %}
                            {% endblock list_table_tr %}
                            </tbody>
                            <!--end::Table body-->
                        </table>
                    {% endblock list_table %}
                </div>
                <!--end::Table-->

                <div class="row pt-10">

                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div>
                    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="dataTables_paginate paging_simple_numbers">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::List body-->
    </div>
    <!--end::List-container-->

{% endblock main_content %}