

{# TODO SACAR ESTA PARTE DEL IF #}
{% if delete_form is defined %}
    {{ form_start(delete_form, {'attr': {'class': '',
        'data-controller':"submit-confirm",
        'data-action':"submit-confirm#onSubmit submit-confirm:button-indicator:on->submit-confirm#spinnerOn"
    }}) }}
    <button type="submit" id="{{ delete_form.vars.id }}_submit"
            class="menu-link px-3 list-delete-form-button "
            data-submit-confirm-target="submitButton"
    >Borrar
    </button>
    {{ form_end(delete_form) }}
{% else %}
    <form action="{{ url('admin_delete', {'class': class }) }}" method="post"
            {{ stimulus_controller('submit-confirm') }}
            {{ stimulus_action('submit-confirm', 'showConfirm') }}
    >
        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
        <input type="hidden" name="id" value="{{ id }}" />

        <button type="submit" id="form_{{ id }}_submit"
                class="menu-link px-3 list-delete-form-button "
                {{ stimulus_controller('spinner') }}
                {{ stimulus_action('spinner', 'spin') }}
        >{{ 'messages.delete'|trans({}, 'CoobixAdminBundle') }}
        </button>
    </form>
{% endif %}

