
{% set listSearchFormIsSubmittedClass = 'display-none' %}

{% if (listSearchFormIsSubmitted) %}
    {% set listSearchFormIsSubmittedClass = 'show' %}
{% endif %}

{% if (listSearchForm) %}
    <div class="accordion list-search-accordion" id="advancedSearch">
        <div class="accordion-item">

            <div id="advancedSearch_body_1" class="accordion-collapse collapse {{ listSearchFormIsSubmittedClass }}"
                 data-bs-parent="#advancedSearch">
                <div class="accordion-body">
                    {% form_theme listSearchForm '@CoobixAdmin/metronic/Form/_list_form_div_layout.html.twig' %}
                    {{ form_start(listSearchForm, {'attr': {'class': '', 'role': 'form'}}) }}
                    {{ form_errors(listSearchForm) }}
                    {{ form_rest(listSearchForm) }}
                    <div class="fix d-flex justify-content-end">
                        <a href="{{ listUrl }}" class="btn btn-light me-5">{{ 'messages.reset'|trans({}, 'CoobixAdminBundle')|upper }}</a>
                        <button type="submit" class="btn btn-light">{{ 'messages.filter'|trans({}, 'CoobixAdminBundle')|upper }}</button>
                    </div>
                    {{ form_end(listSearchForm) }}
                </div>
            </div>


        </div>
    </div>
{% endif %}
