
<!--begin::Aside menu-->
<div class="aside-menu flex-column-fluid ps-3 ps-lg-5 pe-1 mb-9" id="kt_aside_menu">
    <!--begin::Aside Menu-->
    <div class="w-100 hover-scroll-overlay-y pe-2 me-2" id="kt_aside_menu_wrapper"
         data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
         data-kt-scroll-height="auto"
         data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_user, #kt_aside_footer"
         data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu, #kt_aside_menu_wrapper"
         data-kt-scroll-offset="0">
        <!--begin::Menu-->
        <div class="menu menu-column menu-rounded fw-bold" id="#kt_aside_menu"
             data-kt-menu="true">
			{% block menu_items %}
                {% block app_menu_items %}
                <div class="menu-item">
                    <a class="menu-link active" href="{{ path('admin') }}">
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-5">
                                {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_arrow_right.html.twig') }}
                            </span>
                        </span>
                        <span class="menu-title">{{ 'messages.dashboard'|trans({}, 'CoobixAdminBundle') }}</span>
                    </a>
                </div>
                {% endblock app_menu_items %}

                {% block app_admin_menu_items %}
                {% endblock app_admin_menu_items %}
			{% endblock menu_items %}
        </div>
        <!--end::Menu-->
    </div>
    <!--end::Aside Menu-->
</div>
<!--end::Aside menu-->


