{% extends "@CoobixAdmin/metronic/Admin/dashboard_layout.html.twig" %}

{% block header_title %}
    <strong>{% if admin.getNewTitle() is empty %}
            {{ 'messages.new'|trans({}, 'CoobixAdminBundle') }}
        {% else %}
            {{ admin.getNewTitle() }}
        {% endif %}
    </strong>
{% endblock header_title %}


{% block main_content %}
    <!--begin::Card-->
    <div class="card">

        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    {# TODO: Este div solo esta para hacer espacio #}
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->

            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                {% block page_header_btns %}
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-subscription-table-toolbar="base">
                        <!--begin::list button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_LIST') in admin.allowedActions %}
                            {% set routeParams = { 'class': admin.getRouteName()|lower } %}
                            <a href="{{ path('admin_list', routeParams) }}" class="btn btn-light-primary">
                            <span class="svg-icon svg-icon-2">
							    {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_list.html.twig') }}
							</span> {{ 'messages.go_to_list'|trans({}, 'CoobixAdminBundle') }}
                            </a>
                        {% endif %}
                        <!--end::list button-->
                    </div>
                    <!--end::Toolbar-->
                {% endblock page_header_btns %}
            </div>
            <!--end::Card toolbar-->
        </div>

        {% if form %}
        <div class="card-body pt-0">
            {% block form_wrapper %}
                {% include '@CoobixAdmin/metronic/Admin/_partials/_new_form.html.twig'
                    with {'form':form, 'frame_id':  '' }
                %}
            {% endblock form_wrapper %}
        </div>
        {% endif %}

    </div>
{% endblock main_content %}