{% extends "@CoobixAdmin/metronic/Admin/dashboard_layout.html.twig" %}

{% block header_title %}
    <strong>{% if admin.getShowTitle() is empty %}
            {{ 'messages.detail'|trans({}, 'CoobixAdminBundle') }}
        {% else %}
            {{ admin.getShowTitle() }}
        {% endif %}</strong>
{% endblock header_title %}


{% block main_content %}
    {% block main_header_content %}
    {% endblock main_header_content %}
    <!--begin::Card-->
    <div class="card">
        {% block panel_header %}
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    {# TODO: Este div solo esta para hacer espacio #}
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->

            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                {% block page_header_btns %}
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-subscription-table-toolbar="base">
                        <!--begin::Delete Button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_DELETE') in admin.allowedActions %}
                            {% include '@CoobixAdmin/metronic/Admin/delete_form.html.twig' with {'class':  admin.getRouteName(), 'id': entity.id } %}
                        {% endif %}
                        <!--end::Delete Button-->

                        <!--begin::Add Button-->
                        {% set routeParams = { 'class': admin.getRouteName()|lower } %}
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_CREATE') in admin.allowedActions %}
                            <a href="{{ path('admin_new', routeParams) }}" class="btn btn-light-primary me-5">
                            <span class="svg-icon svg-icon-2">
							    {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_plus.html.twig') }}
							</span>
                                {{ 'messages.add'|trans({}, 'CoobixAdminBundle') }}
                            </a>
                        {% endif %}
                        <!--end::Add Button-->
                        <!--begin::List Button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_LIST') in admin.allowedActions %}
                            <a href="{{ path('admin_list', routeParams) }}" class="btn btn-light-primary me-5">
                            <span class="svg-icon svg-icon-2">
							    {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_list.html.twig') }}
							</span>
                                {{ 'messages.go_to_list'|trans({}, 'CoobixAdminBundle') }}
                            </a>
                        {% endif %}

                        <!--end::List Button-->
                        <!--begin::Edit Button-->
                        {% if constant('Coobix\\AdminBundle\\Domain\\Model\\Admin::ACTION_UPDATE') in admin.allowedActions %}
                        <a href="{{ path('admin_edit', { 'class': admin.getRouteName()|lower, 'id': entity.getId()}) }}"
                           class="btn btn-light-primary">
                            <span class="svg-icon svg-icon-2">
							    {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_edit.html.twig') }}
							</span>
                            {{ 'messages.edit'|trans({}, 'CoobixAdminBundle') }}
                        </a>
                        {% endif %}
                        <!--end::Edit Button-->
                    </div>
                    <!--end::Toolbar-->
                {% endblock page_header_btns %}
            </div>
            <!--end::Card toolbar-->
        </div>
        {% endblock panel_header %}
        <div class="card-body pt-0">
            <div class="mb-10">
                <!--begin::Title-->
                <h5 class="mb-4">{% block panel_title %}{{ entity }}{% endblock panel_title %}</h5>
                <!--end::Title-->
                <!--begin::Details-->
                {% block panel_body %}
                <div class="d-flex flex-wrap py-5">
                    <!--begin::Row-->
                    <div class="flex-equal me-5">
                            <!--begin::Details-->
                            <table class="table fs-6 fw-bold gs-0 gy-2 gx-2 m-0">
                                <tbody>
                                {% block show_fields %}
                                    {% for property in admin.getShowRows() %}
                                        <!--begin::Row-->
                                        <tr>
                                            <td class="text-gray-400 min-w-175px w-175px">{{ property['name'] }}</td>
                                            <td class="text-gray-800 min-w-200px">{{ admin.getEntityPropertyValue(admin.getEntityFqcn(), entity, property['property']) }}</td>
                                        </tr>
                                        <!--end::Row-->
                                    {% endfor %}
                                {% endblock show_fields %}
                                </tbody>
                            </table>
                            <!--end::Details-->
                    </div>
                </div>
                {% endblock panel_body %}
                <!--end::Row-->
            </div>
        </div>
    </div>
    {% block main_footer_content %}
    {% endblock main_footer_content %}
{% endblock main_content %}