
{% block sidebar %}
    <!--begin::Aside-->
    <div id="kt_aside" class="aside  pb-4 pb-lg-7 pt-4" data-kt-drawer="true"
         data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}"
         data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}"
         data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
        <!--begin::Brand-->
        <div class="aside-logo flex-column-auto px-9 mb-9 mb-lg-17 mx-auto" id="kt_aside_logo">
            <!--begin::Logo-->
            <a href="{{ path('admin') }}">
                <img alt="Logo"
                        {% if admin_logo is defined %}
                            src="{{ asset(admin_logo) }}"
                        {% else %}
                            src="{{ asset('bundles/coobixadmin/images/logo-admin.png') }}"
                        {% endif %}
                     class="h-30px logo"/>
                {% block logo_text %}{% endblock logo_text %}
            </a>
            <!--end::Logo-->
        </div>
        <!--end::Brand-->

        <!--end::Aside user-->
        {{ include('@CoobixAdmin/metronic/Admin/menu.html.twig', {class: ''}) }}
        <!--begin::Footer-->
        <div class="aside-footer flex-column-auto px-6 px-lg-9" id="kt_aside_footer">
            <!--begin::User panel-->
            <div class="d-flex flex-stack ms-7">
                <!--begin::Link-->

                {{ include('@CoobixAdmin/metronic/Admin/_partials/_logout_menu_item.html.twig') }}

                <!--end::Link-->
                {{ include('@CoobixAdmin/metronic/Admin/_partials/_menu_configurations.html.twig', {class: ''}) }}
            </div>
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Aside-->
{% endblock sidebar %}