<div class="card" data-controller="list">

    <!--begin::List header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">

            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-subscription-table-toolbar="base">
                <!--begin::Filter-->
                <button type="button" class="btn btn-light-primary me-3" data-bs-toggle="collapse" data-bs-target="#advancedSearch_body_1" aria-expanded="true" aria-controls="advancedSearch_body_1">
                            <span class="svg-icon svg-icon-2">
							    <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black"></path>
</svg>
                                <!--end::Svg Icon-->
							</span> Filters
                </button>
                <!--end::Filter-->
                <!--begin::Add subscription-->
                <a href="/admin/workflow/new" class="btn btn-primary">
                            <span class="svg-icon svg-icon-2">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
                            </span> Add</a>
                <!--end::Add subscription-->

            </div>
            <!--end::Toolbar-->

            <!--begin::Group actions-->
            <div class="d-flex justify-content-end align-items-center d-none" data-kt-subscription-table-toolbar="selected" data-testid="deleteSelectedContainer">
                <div class="fw-bolder me-5">
                    <span class="me-2" data-kt-subscription-table-select="selected_count"></span>Selected
                </div>
                <form role="form" id="listBulkForm" action="/admin/workflow/admin_bulk" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                    <input type="hidden" name="action" id="action" value="delete">
                    <input type="hidden" name="bulkIds" id="bulkIds" value="0" data-list-target="listBulkIdsSelectedInput">

                    <button type="submit" class="btn btn-danger btn-with-spinner" data-kt-subscription-table-select="delete_selected" data-submit-confirm-target="submitButton">
                        Delete Selected
                    </button>
                </form>
            </div>                                        <!--end::Group actions-->

        </div>
        <!--end::Card toolbar-->

    </div>


    <div class="accordion list-search-accordion" id="advancedSearch">
        <div class="accordion-item">

            <div id="advancedSearch_body_1" class="accordion-collapse collapse display-none" data-bs-parent="#advancedSearch">
                <div class="accordion-body">
                    <form name="list_search" method="get" action="/admin/workflow/list" class="" role="form">

                        <div id="list_search"><div class="mb-3"><label for="list_search_name" class="form-label">Name</label><input type="text" id="list_search_name" name="list_search[name]" class="form-control">        </div><input type="hidden" id="list_search__token" name="list_search[_token]" value="5dce95.xRu2C26sxkesSRXMvNDi5F0Xwoy7CW65WLUtBFrYrsE.n1HkSSrhrnbCe1Ku-bG6vSdei934Pxz1OYFmbA-_xZ6PfP1yGOGuHvwQJQ"></div>
                        <div class="fix">
                            <a href="/admin/workflow/list" class="btn btn-light">RESET</a>
                            <button type="submit" class="btn btn-light">FILTER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end::List header-->
    <!--begin::List body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_subscriptions_table" data-list-target="table">
                <!--begin::Table head-->
                <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_subscriptions_table .form-check-input" data-list-target="bulkCheckAll" data-action="list#setBulkCheckAll" value="0" id="checkAll">
                        </div>
                    </th>
                    <th class="min-w-125px">
                        <a class="sortable" href="/admin/workflow/list?sort=e.name&amp;direction=asc&amp;page=1" title="name">name</a>

                    </th>
                    <th class="text-end min-w-70px">Actions</th>
                </tr>
                <!--end::Table row-->
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody class="text-gray-600 fw-bold">

                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="21faac10-8bc0-4c71-b38e-128ad74f7d39" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/21faac10-8bc0-4c71-b38e-128ad74f7d39/show" class="text-gray-800 text-hover-primary mb-1">
                            new client
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/21faac10-8bc0-4c71-b38e-128ad74f7d39/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/21faac10-8bc0-4c71-b38e-128ad74f7d39/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="0a94d46b9ccfeb5f60f2cd5158.WdFKo0zqbkUSbice8IEV5Zc3i-ZBmfH3fx8cctD_bjs.OpwFwHqELBFDB09ZuchypKNy6t8X-L-DNnkoIaO2A28bkAbUJ6YGI2ohEw">
                                    <input type="hidden" name="id" value="21faac10-8bc0-4c71-b38e-128ad74f7d39">

                                    <button type="submit" id="form_21faac10-8bc0-4c71-b38e-128ad74f7d39_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="73281a40-9472-461d-bd5f-75c65d4c83ab" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/73281a40-9472-461d-bd5f-75c65d4c83ab/show" class="text-gray-800 text-hover-primary mb-1">
                            test
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/73281a40-9472-461d-bd5f-75c65d4c83ab/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/73281a40-9472-461d-bd5f-75c65d4c83ab/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="8f36ec7a093db7e22.cCP1kvsFW9fx1d6vWJxfymgMJ9biSv1X24Kjl58XuVk.E2668c1rGYOgvLboEdU4i1xJRu-0K7MjkuSXxOxe1A0yYrnlkEkzsYma6g">
                                    <input type="hidden" name="id" value="73281a40-9472-461d-bd5f-75c65d4c83ab">

                                    <button type="submit" id="form_73281a40-9472-461d-bd5f-75c65d4c83ab_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="f6c44563-a1b5-4cc3-9688-cd425d7b36fe" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/f6c44563-a1b5-4cc3-9688-cd425d7b36fe/show" class="text-gray-800 text-hover-primary mb-1">
                            TIENE STEPS
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/f6c44563-a1b5-4cc3-9688-cd425d7b36fe/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/f6c44563-a1b5-4cc3-9688-cd425d7b36fe/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="b902eac809b8c20d1f.EcKULMqLdH3DLvDg7quc8OeK-OKbPGMoolQqkM_cWcw.co_bT_zlNimSR5inp-L7sdPPmdvNXS1c6zIew7yVNJhTg9hbocccG7thxA">
                                    <input type="hidden" name="id" value="f6c44563-a1b5-4cc3-9688-cd425d7b36fe">

                                    <button type="submit" id="form_f6c44563-a1b5-4cc3-9688-cd425d7b36fe_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="45eeb1fb-5ae9-47e5-8162-ca8b1a035061" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/45eeb1fb-5ae9-47e5-8162-ca8b1a035061/show" class="text-gray-800 text-hover-primary mb-1">
                            nico 2
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/45eeb1fb-5ae9-47e5-8162-ca8b1a035061/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/45eeb1fb-5ae9-47e5-8162-ca8b1a035061/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="cdb951bcb4ac8c016e16f5b9.t-jawfpxeg2CM4Vnv-CxbsoF-ir5tt0vuusarPqFF3U.1KWVoswfOFnTWu0g9qnWL_5AmxOv15Nb840u_4nMeiH1qZa2kT0Sa_p8sQ">
                                    <input type="hidden" name="id" value="45eeb1fb-5ae9-47e5-8162-ca8b1a035061">

                                    <button type="submit" id="form_45eeb1fb-5ae9-47e5-8162-ca8b1a035061_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="cb6b0689-9e8a-40f4-9017-aea84a23accd" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/cb6b0689-9e8a-40f4-9017-aea84a23accd/show" class="text-gray-800 text-hover-primary mb-1">
                            test
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/cb6b0689-9e8a-40f4-9017-aea84a23accd/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/cb6b0689-9e8a-40f4-9017-aea84a23accd/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="b88b1a7bdc2742.bUohpc1OpS5-8O_tAc9MWioi5Ya1S3F4d_rzQg41ArY.Dgduxvsg53ovmYeqSIYrGx5nhL_jKj8MPpzHEX18b-IvC23SpgLNSAa_2w">
                                    <input type="hidden" name="id" value="cb6b0689-9e8a-40f4-9017-aea84a23accd">

                                    <button type="submit" id="form_cb6b0689-9e8a-40f4-9017-aea84a23accd_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="02da4750-9409-4560-b504-b80f842ff6ab" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/02da4750-9409-4560-b504-b80f842ff6ab/show" class="text-gray-800 text-hover-primary mb-1">
                            new name
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/02da4750-9409-4560-b504-b80f842ff6ab/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/02da4750-9409-4560-b504-b80f842ff6ab/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="0b730eceb26064588a54d813.lx-5rjlGGEz3uv2KaHtDhg1RbsovCR0U3mjlsQ7qXuQ.9FL2zQ8oWhim05XNITIkxzkUD_N5aFNglw7R4n2jM7DVXvXZUgpwKo_1yQ">
                                    <input type="hidden" name="id" value="02da4750-9409-4560-b504-b80f842ff6ab">

                                    <button type="submit" id="form_02da4750-9409-4560-b504-b80f842ff6ab_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="cfc1331f-ce26-45f9-b1b8-cb775a563967" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/cfc1331f-ce26-45f9-b1b8-cb775a563967/show" class="text-gray-800 text-hover-primary mb-1">
                            asd
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/cfc1331f-ce26-45f9-b1b8-cb775a563967/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/cfc1331f-ce26-45f9-b1b8-cb775a563967/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="4.gAI8j_KmF651w-p3GTqtEPPS3YdtH7j1QmBb75C71Zg.409z7MTIVfokqoIwUHPKUceXvL47fvaBCwZvvOPyuMzCQ3D4mep_yA2M3g">
                                    <input type="hidden" name="id" value="cfc1331f-ce26-45f9-b1b8-cb775a563967">

                                    <button type="submit" id="form_cfc1331f-ce26-45f9-b1b8-cb775a563967_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="c23d4b22-7bf9-48e2-9df3-06c3067d4c8c" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/c23d4b22-7bf9-48e2-9df3-06c3067d4c8c/show" class="text-gray-800 text-hover-primary mb-1">
                            nico 2
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/c23d4b22-7bf9-48e2-9df3-06c3067d4c8c/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/c23d4b22-7bf9-48e2-9df3-06c3067d4c8c/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="8ef2d1984be4c51d8f4f.83UlQB12c1sSnoKNLHpeJVkR3H6uGz_y_ygBD2VePOw.kDhqIysYMQ9D9-rKZTM5ZG1UvUf4enGGtk41XBYXUbixNGk3djobPWrRtg">
                                    <input type="hidden" name="id" value="c23d4b22-7bf9-48e2-9df3-06c3067d4c8c">

                                    <button type="submit" id="form_c23d4b22-7bf9-48e2-9df3-06c3067d4c8c_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="a2e3bb95-63c1-4b81-b9ee-6c24d551a4e9" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/a2e3bb95-63c1-4b81-b9ee-6c24d551a4e9/show" class="text-gray-800 text-hover-primary mb-1">
                            nico 2
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/a2e3bb95-63c1-4b81-b9ee-6c24d551a4e9/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/a2e3bb95-63c1-4b81-b9ee-6c24d551a4e9/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="d2c79eb39eea.K3J0N6mIJ1jlVoNjQWUOf1BTDciOjya-VK8_TkmJqEk.SD87VJ_mZQy0P-skCCxpPmQWbPHY7mjKHckLHTrAxR1pMzhAwsRPPp0Ztw">
                                    <input type="hidden" name="id" value="a2e3bb95-63c1-4b81-b9ee-6c24d551a4e9">

                                    <button type="submit" id="form_a2e3bb95-63c1-4b81-b9ee-6c24d551a4e9_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                <tr>
                    <!--begin::Checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input name="bulkCheck" class="form-check-input" type="checkbox" value="string" data-list-target="bulkCheck" data-action="list#onSingleListCheckBoxChange">
                        </div>
                    </td>
                    <!--end::Checkbox-->

                    <td>
                        <a href="/admin/workflow/string/show" class="text-gray-800 text-hover-primary mb-1">
                            string
                        </a>
                    </td>

                    <!--begin::Action=-->
                    <td class="text-end">
                        <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <span class="svg-icon svg-icon-5 m-0">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
</svg>
                                <!--end::Svg Icon-->
									</span>
                        </a>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/string/show" class="menu-link px-3">View</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="/admin/workflow/string/edit" class="menu-link px-3">Edit</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">

                                <form action="http://127.0.0.1:8004/admin/workflow/delete" method="post" data-controller="submit-confirm" data-action="submit-confirm#onSubmit">
                                    <input type="hidden" name="token" value="2ef29a08ea7c2898317.0lAvUIMH8OGBo72Zd_0_WGOpzApymEYnSK7j2x7NJIU.sR1gM7VpsrXQytXePrRYGVfsrTMk-QhTAcjXiG2ESdGQEWMn6EuYh_nsiQ">
                                    <input type="hidden" name="id" value="string">

                                    <button type="submit" id="form_string_submit" class="menu-link px-3 list-delete-form-button " data-submit-confirm-target="submitButton">Delete
                                    </button>
                                </form>

                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </td>
                    <!--end::Action=-->
                </tr>
                </tbody>
                <!--end::Table body-->
            </table>
        </div>
        <!--end::Table-->

        <div class="row pt-10">

            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div>
            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                <div class="dataTables_paginate paging_simple_numbers">
                    <nav>
                        <ul class="pagination">

                            <li class="page-item previous disabled">
                                <span class="page-link"><i class="previous"></i></span>
                            </li>


                            <li class="page-item active">
                                <span class="page-link">1</span>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="/admin/workflow/list?page=2">2</a>
                            </li>



                            <li class="page-item next">
                                <a class="page-link" rel="next" href="/admin/workflow/list?page=2"><i class="next"></i></a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <!--end::List body-->
</div>