{% block form_containter %}
    {% if frame_id is defined and frame_id is not null %}
        <turbo-frame id="{{ frame_id }}">
    {% endif %}
    <div class="card-body pt-0">
        {% block form %}
            {% block form_start %}
                {% if frame_id is defined and frame_id is not null %}
                    {{ form_start(form, {'attr': {
                        'data-turbo-frame': frame_id
                    }}) }}
                {% else %}
                    {{ form_start(form, {'attr': {'role': 'form'}}) }}
                {% endif %}
            {% endblock form_start %}
            {% block form_widgets %}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
            {% endblock form_widgets %}

            {% block form_buttons %}
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <div class="mb-3">
                        <button type="submit" id="{{ form.vars.id }}_apply" name="form_apply"
                                class="btn btn-primary btn-with-spinner btn"
                                {{ stimulus_controller('spinner') }}
                                {{ stimulus_action('spinner', 'spin') }}
                        >{{ 'messages.apply'|trans({}, 'CoobixAdminBundle')|upper }}</button>
                    </div>
                </div>
            {% endblock form_buttons %}

            {{ form_end(form) }}
        {% endblock form %}
    </div>
    {% if frame_id is defined and frame_id is not null %}
        </turbo-frame>
    {% endif %}
{% endblock form_containter %}