<title>{{ 'main.title'|trans({}, 'CoobixAdminBundle') }}</title>

<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta property="og:locale" content=""/>
<meta property="og:type" content=""/>
<meta property="og:title"
      content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<link rel="canonical" href=""/>

<link rel="shortcut icon" href="{{ admin_favicon is defined ? asset(admin_favicon) : asset('bundles/coobixadmin/images/favicon.ico') }}">
