
<div class="dropdown">
    <a class="px-5 menu-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% block selected_language_link_text %}
        <span class="position-relative">{{ 'messages.language'|trans({}, 'CoobixAdminBundle') }}</span>
        {% endblock selected_language_link_text %}
        <span class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">
        {{ app.request.locale|upper }}
            <img class="w-15px h-15px rounded-1 ms-2"
                 src="{{ asset('bundles/coobixadmin/images/media/flags/'~app.request.locale~'.svg') }}">
        </span>
    </a>

    {% if APP_SUPPORTED_LOCALES is defined %}
        <ul class="dropdown-menu menu-sub menu-sub-dropdown w-175px py-4">
            {% for locale in APP_SUPPORTED_LOCALES %}
                <li>
                    <a class="dropdown-item"
                       href="{{ path('set_locale', {'newLocale': locale}) }}"
                    ><span class="w-15px d-inline-block">{{ locale|upper }}</span> <img
                                class="w-15px h-15px rounded-1 ms-2"
                                src="{{ asset('bundles/coobixadmin/images/media/flags/'~locale~'.svg') }}"></a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>