
<a href="{% block logout_url %}{% endblock logout_url %}"
   class="btn btn-sm btn-icon btn-active-color-primary btn-icon-gray-600 btn-text-gray-600 ">
    <span class="svg-icon svg-icon-1 me-2">
        {{ include('@CoobixAdmin/metronic/Admin/svgs/icon_logout.html.twig') }}
    </span>
    <span class="d-flex flex-shrink-0 fw-bolder">{{ 'messages.log_out'|trans({}, 'CoobixAdminBundle') }}</span>
</a>