<!--begin::User menu-->

<div class="ms-1">
    <div class="btn btn-sm btn-icon btn-icon-gray-600 btn-active-color-primary position-relative me-n1"
         data-kt-menu-trigger="click" data-kt-menu-overflow="true"
         data-kt-menu-placement="top-start">
        <i class="material-icons fs-3">settings</i>
    </div>

    <!--begin::Menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px"
         data-kt-menu="true">
        <!--begin::Menu item-->
        <div class="menu-item px-3">
            <div class="menu-content d-flex align-items-center px-3">
                <!--begin::Username-->
                <div class="d-flex flex-column">
                    <div class="fw-bolder d-flex align-items-center fs-5"> {{ app.user }}
                    </div>
                    <a href="#"
                       class="fw-bold text-muted text-hover-primary fs-7">{% if app.user %}{{ app.user.email }}{% endif %}</a>
                </div>
                <!--end::Username-->
            </div>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu separator-->
        <div class="separator my-2"></div>
        <!--end::Menu separator-->
        <!--begin::Menu item-->
        {% block menu_items %}
        {% endblock menu_items %}

        <!--end::Menu item-->
        <!--begin::Menu separator-->
        <div class="separator my-2"></div>
        <div class="menu-item px-5">
            {{ include('@CoobixAdmin/metronic/Admin/_partials/_language_selector.html.twig', {class: ''}) }}
        </div>
        <div class="separator my-2"></div>


    </div>
    <!--end::Menu-->
</div>
<!--end::User menu-->
<!--end::User panel-->