
    {% block form_containter %}
    {% if form.vars.attr['data-turbo-frame'] is defined and form.vars.attr['data-turbo-frame'] is not null %}
        <turbo-frame id="{{ form.vars.attr['data-turbo-frame'] }}" target="_top">
    {% endif %}
    {% block form %}

        {% block form_start %}
            {% if frame_id is defined and frame_id is not null %}
                {{ form_start(form, {'attr': {
                    'data-turbo-frame': frame_id
                }}) }}
            {% else %}
                {{ form_start(form, {'attr': {'role': 'form'}}) }}
            {% endif %}
        {% endblock form_start %}

        {% block form_widgets %}
            {{ form_errors(form) }}
            {{ form_rest(form) }}
        {% endblock form_widgets %}

        {% block form_buttons %}
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="submit" id="{{ form.vars.id }}_submit"
                        class="btn btn-primary btn-with-spinner"
                        {{ stimulus_controller('spinner') }}
                        {{ stimulus_action('spinner', 'spin') }}
                >
                    {{ 'messages.create'|trans({}, 'CoobixAdminBundle')|upper }}

                </button>
            </div>
        {% endblock form_buttons %}

        {{ form_end(form) }}
    {% endblock form %}

        {% if frame_id is defined and frame_id is not null %}
            </turbo-frame>
        {% endif %}
    {% endblock form_containter %}
