
/*
 * Sidebar
 */


@media (min-width: 992px) {
    .aside {
        width: 230px;
    }

    #kt_wrapper.wrapper {
        padding-top: 0.25rem;
        padding-left: 230px;
    }

    .header {
        height: 54px;
    }

}