/* List styles  */

.list-search-accordion .accordion-item {
    border: none;
}


.list-delete-form-button  {
    border: none;
    background: transparent;
}

.menu-item .menu-link {
    width: 100%;
}


