/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/@symfony/webpack-encore/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./assets/metronic/styles/dashboard.css ***!
  \******************************************************************************************************************************************************************/

/*
 * Sidebar
 */


@media (min-width: 992px) {
    .aside {
        width: 230px;
    }

    #kt_wrapper.wrapper {
        padding-top: 0.25rem;
        padding-left: 230px;
    }

    .header {
        height: 54px;
    }

}
