{% macro printToast(title = '', message = '', type = '', isJsToast = false) %}
    <div class="toast
            {% if isJsToast == true %}js-toast{% else %}sf-toast{% endif %}"
            {{ stimulus_controller('toast', {
                'type': type,
                'isJsToast' : isJsToast,
                'message': message,
                'title': title
            }) }}
         data-action="toast:display@window->toast#display"
         role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <span class="me-3 js-toast-icon" data-toast-target="toastIcon"></span>
            <strong class="me-auto" data-toast-target="toastTitle"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" data-toast-target="toastBody"></div>
    </div>
{% endmacro %}